#wrapper{
	width:90%;
	height:auto;
	margin:auto 5% auto auto;
}

.vm{
	font-size: x-large;
}

.ip{
	font-size:large;
}

.grouper{
	width:30%;
	height:40%;
	margin:auto;
	float:left;
	margin-right: 3%;
	margin-top: 3%;
	background: rgba(53,75,27,.5);
}

.grouper_heading{
	width:100%;
	height:10%;
	text-align:center;
	border:solid 2px #abd17d;
	color:#ABD17D;
	border-top-left-radius: 1em;
	border-top-right-radius: 1em;
	border-bottom:solid 1px #abd17d;
	background:#111;
}

.grouper_map{
	width:100%;
	height:90%;
	float:left;
	border:solid 2px #abd17d;
	border-bottom-left-radius: 1em;
	border-bottom-right-radius: 1em;
}
.grouper_map svg {
	float: none;
	margin:0px auto;
        min-height: 350px;
        max-height: 350px;
}

.grouper_map path{
	margin-left:100px;
	stroke:#abd17d;
	stroke-width:1px;
	transition: fill 0.3s;

}

.grouper_map path:hover{
	fill:#ced187;
}

.map_init{
	color:orange;
	margin-left:10px;
}

